<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <nav>
        <ul>
            <li><a href="../index.html"><code>Inicio</code></a></li>
            <li><a href="./perfil.html"><code>Perfil</code></a></li>
            <li><a href="../storage/HojadeVida.pdf"><code>Hoja de Vida</code></a></li>
            <li><a href="./mision_vision.html"><code>Mision-Vision</code></a></li>
            <li><a href="./skills.html"><code>Skills</code></a></li>
            <li><a href="./servicios.html"><code>Servicios</code></a></li>
            <li><a href="./proyectos.html"><code>Proyectos</code></a></li>
            <li><a href="./contacto.html"><code>Contacto</code></a></li>
            
        </ul>
    </nav>
    <section class="info">
        <div class="contact-container">
        <h2 id="contact-heading"><code>&lt;Contacto/&gt;</code></h2>



            <form id="contact-form">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" rows="3" required></textarea>
                
                <button type="submit">Enviar</button>
            </form>
        </div>

        <div class="img">
            <img src="../storage/contacto.gif" alt="">
        </div>

    </section>

    <script src="../js/contacto.js"></script>
</body>
</html>
