

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Desarrollador</title>
    
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/inicio.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    
    <nav>
        <ul>
            <li><a href="./inicio.html"><code>Inicio</code></a></li>
            <li><a href="./perfil.html"><code>Perfil</code></a></li>
            <li><a href="../storage/HojadeVida.pdf"><code>Hoja de Vida</code></a></li>
            <li><a href="./mision_vision.html"><code>Mision-Vision</code></a></li>
            <li><a href="./skills.html"><code>Skills</code></a></li>
            <li><a href="./servicios.html"><code>Servicios</code></a></li>
            <li><a href="./proyectos.html"><code>Proyectos</code></a></li>
            <li><a href="./contacto.html"><code>Contacto</code></a></li> 


        </ul>
    </nav>
    <div class="container">
        <header>
            <h1 id="name-heading">
                <div><span>K</span><span>a</span><span>r</span><span>e</span><span>n</span>
                <span>Y</span><span>i</span><span>s</span><span>e</span><span>t</span><span>h</span></div>
                <div><span>P</span><span>i</span><span>n</span><span>t</span><span>o</span>
                <span>E</span><span>s</span><span>p</span><span>e</span><span>j</span><span>o</span></div>
            </h1>            
            <h3 id="animated-text"><code>&lt;Desarrolladora Backend/&gt;</code></h3>

            <p>Cada línea de código es un paso hacia la innovación.</p>
        </header>


        <div class="social-icons">
            <a href="https://www.linkedin.com/in/karenpintoespejo" target="_blank" rel="noopener noreferrer">
                <i class='bx bxl-linkedin-square'></i> LinkedIn
            </a>            
            <a href="https://github.com/KarenYisethPintoEspejo"><i class='bx bxl-github'></i> GitHub</a>
        </div>
        <section id="consola">
            <img src="../storage/inicio.gif" alt="">
        </section>
    </div>

    <footer>
        <p>&copy; 2024 - KarenPinto</p>
    </footer>

    <script src="../js/inicio.js"></script>
</body>
</html>
