<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Misión y Visión</title>
    <link rel="stylesheet" href="../css/mision_vision.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <nav>
        <ul>
            <li><a href="../index.html"><code>Inicio</code></a></li>
            <li><a href="./perfil.html"><code>Perfil</code></a></li>
            <li><a href="../storage/HojadeVida.pdf"><code>Hoja de Vida</code></a></li>
            <li><a href="./mision_vision.html"><code>Mision-Vision</code></a></li>
            <li><a href="./skills.html"><code>Skills</code></a></li>
            <li><a href="./servicios.html"><code>Servicios</code></a></li>
            <li><a href="./proyectos.html"><code>Proyectos</code></a></li>
            <li><a href="./contacto.html"><code>Contacto</code></a></li>

        </ul>
    </nav>
    <section class="info">
        <div class="container">
            <div class="mission-box">
                <h2><code>&lt;Misión/&gt;</code></h2>
                <p>Mi misión es la creación de soluciones tecnológicas innovadoras que anticipen las necesidades del futuro, desarrollando software que impulse el avance de la tecnología y fomente un entorno digital sostenible.</p>
            </div>
            
            
            <div class="vision-box">
                <h2><code>&lt;Visión/&gt;</code></h2>
                <p>Mi visión es ser una líder en el desarrollo de software, usando mi capacidad de adaptación en nuevas tecnologías y mi compromiso con la entrega de soluciones excepcionales que marcan la diferencia en el mercado.</p>
            </div>
        </div>

        <div class="img">
            <img src="../storage/mision.gif" alt="">
        </div>
    </section>

    
    

    <script src="../js/mision_vision.js"></script>
</body>
</html>
