<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Acerca de Mí</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <nav>
        <ul>
            <li><a href="../index.html"><code>Inicio</code></a></li>
            <li><a href="./perfil.html"><code>Perfil</code></a></li>
            <li><a href="../storage/HojadeVida.pdf"><code>Hoja de Vida</code></a></li>
            <li><a href="./mision_vision.html"><code>Mision-Vision</code></a></li>
            <li><a href="./skills.html"><code>Skills</code></a></li>
            <li><a href="./servicios.html"><code>Servicios</code></a></li>
            <li><a href="./proyectos.html"><code>Proyectos</code></a></li>
            <li><a href="./contacto.html"><code>Contacto</code></a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="text-box">
            <h1><code>&lt;Acerca de Mí/&gt;</code></h1>

            <p>Mi enfoque está en crear soluciones prácticas y eficaces que no solo cumplan con los requisitos técnicos, sino que también aporten un valor significativo a quienes las utilizan. <br> Creo firmemente en el impacto positivo que el desarrollo de software puede tener en el mundo, y cada proyecto que emprendo es una oportunidad para hacer una diferencia.</p>
            <p class="small-text">Mi objetivo profesional es continuar creciendo como desarrolladora de software, contribuyendo con proyectos que fusionen la innovación tecnológica con el bienestar social.</p>
        </div>
        <div class="image-box">
            <img src="../storage/karen.jpg" alt="Foto de perfil">
        </div>
    </div>

    <script src="../js/perfil.js"></script>
</body>
</html>
