<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Habilidades</title>
    <link rel="stylesheet" href="../css/skills.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- Link de Boxicons -->
</head>
<body>
    <canvas id="canvas"></canvas>

    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./perfil.html">Perfil</a></li>
            <li><a href="../storage/HojadeVida.pdf">Hoja de Vida</a></li>
            <li><a href="./mision-vision.html">Misión-Visión</a></li>
            <li><a href="./objetivo-profesional.html">Skills</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./proyectos.html">Proyectos</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <section id="skills">
        <h2>Mis Habilidades</h2>
        <div class="skills-grid">
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-html5'></i>
                    </div>
                    <div class="card-back">
                        <h3>HTML5</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-css3'></i>
                    </div>
                    <div class="card-back">
                        <h3>CSS3</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-javascript'></i>
                    </div>
                    <div class="card-back">
                        <h3>JavaScript</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-python'></i>
                    </div>
                    <div class="card-back">
                        <h3>Python</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-nodejs'></i>
                    </div>
                    <div class="card-back">
                        <h3>Node.js</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bx-data'></i>
                    </div>
                    <div class="card-back">
                        <h3>MySQL</h3>
                    </div>
                </div>
            </div>

            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                    <i class='bx bxl-git'></i>
                    </div>
                    <div class="card-back">
                        <h3>Git</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxs-cube' ></i>
                    </div>
                    <div class="card-back">
                        <h3>NPM</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-visual-studio'></i>
                    </div>
                    <div class="card-back">
                        <h3>Visual Studio <br> Code</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxs-copyright'></i>
                    </div>
                    <div class="card-back">
                        <h3>Canva</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-github'></i>
                    </div>
                    <div class="card-back">
                        <h3>GitHub</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-figma'></i>
                    </div>
                    <div class="card-back">
                        <h3>Figma</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bx-terminal' ></i>
                    </div>
                    <div class="card-back">
                        <h3>Linux</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bx-extension'></i>
                    </div>
                    <div class="card-back">
                        <h3>Express.js</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxl-mongodb'></i>
                    </div>
                    <div class="card-back">
                        <h3>MongoDB</h3>
                    </div>
                </div>
            </div>
            <div class="skill-card">
                <div class="card-inner">
                    <div class="card-front">
                        <i class='bx bxs-data'></i>
                    </div>
                    <div class="card-back">
                        <h3>SQL</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <script src="../js/skills.js"></script>
</body>
</html>
