/* Estilos básicos para el cuerpo */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

/* Contenedor del loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Estilo del loader */
.loader {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
}

/* Estilo del logo */
.logo {
    width: 101%;
    height: auto;
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* Estilo del efecto de carga */
.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #ddd;
    border-top: 15px solid #514b82; /* Color de la parte visible del borde */
    animation: l18 5s infinite linear; /* Duración de la animación */
}

/* Animación de llenado del círculo */
@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}
