* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
    overflow-y: hidden;   
}

.container {
    display: flex;
    width: 35rem;
    margin: 0 auto;
    padding: 15px;
    margin-right: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem; 
    z-index: 1; 
    /* border: 1px solid red; */
}




p {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 12px;
}


nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7rem;

}



nav ul {
    list-style: none;
    margin: 90px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 8px 40px;
    border-bottom: 2px solid transparent;
    border: 3px solid rgb(179, 60, 248);
    border-radius: 10px;
}



.social-icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.3rem;
    margin-right: 2rem;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.social-icons a{
    color: white;
    text-decoration: none;
}

footer {
    margin-top: 8rem;
    font-size: 0.8rem;
    color: white;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

/* Consola */
/* Consola */
#consola {
    margin-top: -22rem;
    margin-left: 34rem;
}


h3{
    color: rgb(179, 60, 248);
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bold;
    animation: moveUpDown 5s ease-in-out infinite;
}

#animated-text{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(-15px);
    }
}


/* Estilo del encabezado */
#name-heading {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}



#name-heading span {
    display: inline-block;
    transition: color 0.2s ease;
    font-size: 5rem;
    font-weight: bold;
    color: #e0e0e0; /* Color inicial de las letras */
}

/* Cambio de color al pasar el cursor */
#name-heading span:hover {
    color: rgb(179, 60, 248);
    scale: 1.1; /* Color morado cuando el cursor está sobre la letra */
}

#consola img{
    display: flex;
    width: 40rem;
}


